@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap');
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

img {
    animation: left-to-right 2s cubic-bezier(0.42, 0, 0.51, 0.9);
}

@keyframes left-to-right {
    0% {transform: translateX(-500%);}
    100% {
        transform: translateX(0);
    }
}
