@keyframes like {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: calc(60px * (62 * -1 + 3));
    }
}

@media (hover: hover) {
    .like:hover {
        background-color: #E1255E15;
        .hearth {
            background-position-x: calc(60px * (62 * -1 + 1));
        }
    }
}
.locationbar {
    height: 60px;
    width: 100vw;
    background-color: #8FC0A9;
    z-index: 10;
    display: flex;
    justify-content: center;
    &_wrapper {
        position: relative;
        top: -12%;
        height: 100%;
        width: 20%;
        min-width: 200px;
        background-color: #B583A6;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &_icon {
            left: 4%;
            position: relative;
            height: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: fit-content;
        }
        &_location {
            position: relative;
            right: 8%;
            font-size: 2vw;
            @media (max-width: 1200px) {
                font-size: 24px;
            }

            
        }
    }
}
.truck {
    width: 90vw;
    height: fit-content;
    display: flex;
    margin-left: 5vw;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: space-around;
    &s {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 30%;
        min-width: 360px;
        height: 560px;
        border-radius: 30px;
        background-color: rgba(104, 176, 171, 0.9);
        margin-bottom: 6%;
        .name {
            font-family: 'Shrikhand', 'cursive';
            font-size: 24px;
            margin-top: 6%;
            text-align: center;
        }
        .image {
            width: 90%;
            height: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .open {
            font-family: 'Shrikhand', 'cursive';
            font-size: 24px;
            margin-top: 6%;
        }
        .contact {
            margin-top: 4%;
            font-size: 22px;
            text-align: center;
            div {
                a {
                    color: #B583A6;
                    font-weight: bold;
                    text-decoration: none;
                    &:link,
                    &:visited {
                        color: #B583A6;
                    }
                }
            }
        }
        input {
            display: none;
        }
        .like {
            position: absolute;
            bottom: 0;
            right: 0;
            display: block;
            width: 60px;
            height: 60px;
            cursor: pointer;
            border-radius: 999px;
            overflow: visible;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-tap-highlight-color: transparent;
        }
        .hearth {
            background-size: calc(60px * 62) 60px;
            background-repeat: no-repeat;
            background-position-x: calc(60px * (62 * -1 + 2));
            background-position-y: calc(60px * 0.02);
            width: 60px;
            height: 60px;
        }
        input:checked + .hearth {
            animation: like 1s steps(calc(62 - 3));  
            animation-fill-mode: forwards;
        }

    }
}